<!DOCTYPE html>
<html>
    <head>
        <title>
            Vue js If elseif Condition
        </title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p v-if="name"> Easy Learning😢 </p>
            <p v-if="age"> 24 </p>

            <button @click="ShowName"> Show Name | {{ name }} </button>
            <button @click="ShowAge"> Show Age | {{ age }} </button>
        </div>

    <script>
        var app = new Vue ({
            el: '#app',
            data:{
                name: true,
                age: true
            },
        methods:{
            ShowName(){
                this.name = !this.name
            },
            ShowAge(){
                this.age = !this.age
            }
        }

        })
    </script>
    </body>
</html>